.log-in-form{
  width: 80%;
  margin-top: 4vh !important;
  margin: auto;
  color: white;
  input{
    color: black;
    white-space: normal;

  }
  input.btn{
      color: white;
    }
  button{
    color: white;
    width: 60%;
  }
}
