<div class="dash-nav">
  <%= link_to edit_user_registration_path(current_user) do %>
    <button class="button-form">Edit Profile</button></a>
  <% end %>
   <%= link_to 'Back', :back, class:'btn button-form-back' %>
</div>
