<div class="my-offer-card-container d-flex">
  <div class="my-offer-card-content">
    <h3><%= offer.title %></h3>
    <br>
    <h5><strong><%= offer.address %></strong></h5>
    <p><%= offer.description %></p>
  </div>
</div>
