
@keyframes append-animate {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.animation {
  animation: append-animate .35s ;
  animation-timing-function: cubic-bezier(0.8, 0.81, 0.32, 1.28);
}
