.dash-nav{
  display: flex;
  position: fixed;
  bottom: 0vh;
  right: 0px;
  left: 0px;
  margin: auto;
  justify-content: space-around;
  background-color: #2D5253;
  height: 9%;
  border-top:3px solid #F18E3D;
}
// .fixedbutton {
//     width: 40vw;
//     height: 8vh;
//     font-size: 16px;
//     margin-top: 1vh;
//     margin-bottom: 0.4vh;
//     .editbutton{
//       color: white;
//     }
//     .backbutton{

//     }
// }

// .fixedbutton.backbutton{
//   background-color: #E65661;
// }
