.landing-banner{
  display: flex;
  justify-content: center;
  padding-top: 2vh;
  background-color: white;
  opacity: 80%;
  padding-bottom: 0px;
  margin-bottom: 0px;
  height: 15vh;
  border-top: 2px ridge black;
  border-bottom: 2px ridge black
}
