

// SEARCH BAR CONTAINER
.mapboxgl-ctrl-top-right {
  width: 100vw !important;
  margin: 0 auto !important;
  display: flex !important;
  justify-content: center !important;
}

// SEARCH BAR
.mapboxgl-ctrl-geocoder {
  margin-top: 30px !important;
  width: 300px !important;
  margin-right: unset !important;
  background-color: #1A2637;
}
















// SLIDE IN OUT LOGIC

// @keyframes fadeIn {
//     0% {
//         transform: translateY(startYposition);
//     }
//     100% {
//         transform: translateY(endYposition);
//     }
// }

// @keyframes fadeOut {
//     0% {
//         opacity: 1;
//         transform: translateY(startYposition);
//     }
//     100% {
//         opacity: 0;
//         transform: translateY(endYposition);
//     }
// }
